.entity {
    cursor: help;
}

.clickable {
    cursor: pointer;
}

.btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
  margin-left: 5px;
}

.tag {
    display: none;
    top: -30px;
    left: -30px;
    position: absolute;
    background-color: aquamarine;
}


.entity:hover+.tag {
    display: inline-flex;
}

.ner-char {
    padding: .25em .4em .25em 0;
}

.entity-highlight {
    background-color: aquamarine;
}

.entities-sentences {

}